<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title> Add details </title>
  <style>
    body {
      text-align: center;
    }
    .content {
      display: inline-block;
      text-align: center;
    }
  </style>
</head>
<body>
<div class="content">
<form th:action="@{/hello}" method="get">
  <input type="submit" value="головна"/>
</form>


<p th:text="${message}" style="color:red" />
Введіть свої дані:
<form action="#" th:action="@{/details}" method="post" th:object="${user}">
  <label> ім'я:</label><input type="text" th:field="*{firstName}" /><br/>
  <label> прізвище:</label><input type="text" th:field="*{lastName}" /><br/>
  <label> логін:</label><input type="text" th:field="*{username}" /><br/>
  <div><label> новий пароль: <input type="password" name="password"/> </label></div>
  <button type="submit">Зберегти зміни</button>

</form>
</div>
</body>
</html>