<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>login</title>
  <style>
    body {
      text-align: center;
    }
    .content {
      display: inline-block;
      text-align: center;
    }
  </style>
</head>
<body>
<div class="content">
  Сторінка входу:

<div th:if="${param.error}" style="color:red">
  невірний логін чи пароль.
</div>
<div th:if="${param.logout}">
  Ви вийшли з системи.
</div>
<form th:action="@{/login}" method="post">
  <div><label> логін: <input type="text" name="username"/> </label></div>
  <div><label> пароль: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="вхід"/></div>
</form>
<a th:href="@{/registration}">реєстрація нового користувача</a>
</div>
</body>
</html>