<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paid tickets</title>
    <style>
        body {
            text-align: center;
        }

        .content {
            display: inline-block;
            text-align: center;
        }
        .button-container {
            display: flex;
            justify-content: center;
        }

    </style>
</head>
<body>
<div class="content">
    <form th:action="@{/hello}" method="get">
        <input type="submit" value="home"/>
    </form>


    <h2> Мої квитки:</h2>

    <table>
        <thead>
        <tr>
            <th>потяг №:</th>
            <th>назва потягу:</th>
            <th>звідки:</th>
            <th>куди:</th>
            <th>місце №</th>
            <th>ім'я:</th>
            <th>прізвище:</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.getTrain().getNumber()}"></td>
            <td th:text="${ticket.getTrain().getTrainName()}"></td>
            <td th:text="${ticket.getStartStation().getCity()}"></td>
            <td th:text="${ticket.getFinishStation().getCity()}"></td>
            <td th:text="${ticket.getSeatNumber()}"></td>
            <td th:text="${ticket.getPassFirstName()}"></td>
            <td th:text="${ticket.getPassLastName()}"></td>
            <td>
                <div class="button-container">
                    <form th:action="@{/updPassData}" method="get">
                        <input type="hidden" name="ticketId" th:value="${ticket.getId()}"/>
                        <input type="submit" value="Змінити"/>
                    </form>
                    <form th:action="@{/deleteTicket}" method="get">
                        <input type="hidden" name="ticketId" th:value="${ticket.getId()}"/>
                        <input type="submit" value="видалити"/>
                    </form>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
    <div th:if="${tickets.isEmpty()}" style="color:red">
        поки не оформлено жодного квитка!
    </div>
    <div th:if="${!tickets.isEmpty()}">

        <form th:action="@{/selectStation}" method="get">
            <input type="submit" value="оформити ще один квиток"/>
        </form>
        <form th:action="@{/pay}" method="get">
            <input type="submit" value="оформити квитки"/>
        </form>
    </div>
</div>
</body>
</html>