<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>registration</title>
  <style>
    body {
      text-align: center;
    }
    .content {
      display: inline-block;
      text-align: center;
    }
  </style>
</head>
<body>
<div class="content">
  Сторінка реєстрації:
<p th:text="${message}" style="color:red" />

<form th:action="@{/registration}" method="post">
  <div><label> логін: <input type="text" name="username"/> </label></div>
  <div><label> пароль: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="зареєструватися"/></div>
</form>
<a th:href="@{/login}">перейти до сторінки входу</a>
</div>
</body>
</html>