<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>selectTrain</title>
    <style>
        body {
            text-align: center;
        }
        .content {
            display: inline-block;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="content">
<form th:action="@{/hello}" method="get">
    <input type="submit" value="home"/>
</form>
<p>
<p>
<form th:action="@{/selectStation}" method="get">
    <input type="submit" value="змінити станції"/>
</form>
</p>
</p>
<h2> Потяги за Вашим напрямком:</h2>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>number</th>
        <th>trainName</th>
        <th>Seats</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="train : ${trains}">
        <td th:text="${train.id}"></td>
        <td th:text="${train.number}"></td>
        <td th:text="${train.trainName}"></td>
        <td>
            <form th:action="@{/passData}" method="get">
                <input type="hidden" name="start" th:value="${start}" />
                <input type="hidden" name="finish" th:value="${finish}" />
                <input type="hidden" name="trainId" th:value="${train.id}" />

                <select name="seat" id="seat">
                    <option th:each="seat : ${seats}" th:text="${seat}"></option>
                </select>
                <input type="submit" value="вибрати">
            </form>
        </td>

    </tr>
    </tbody>
</table>
</div>

</body>
</html>