<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            text-align: center;
        }

        .content {
            display: inline-block;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="content">
    <form th:action="@{/hello}" method="get">
        <input type="submit" value="home"/>
    </form>
    <h1>Оформлення квитка:</h1>
    <h2>
        Потяг №: <a th:text="${trainNumber}"/>
    </h2>
    <h2>
        Назва порягу: <a th:text="${trainName}"/>
    </h2>
    <h2>
        Звідки: <a th:text="${start}"/>
    </h2>
    <h2>
        Куди: <a th:text="${finish}"/>
    </h2>

    <h2>
        місце №: <a th:text="${seat}"/>
    </h2>
    <h2>
        ім'я пасажира: <a th:text="${firstName}"/>
    </h2>
    <h2>
        фамілія пасажира: <a th:text="${lastName}"/>
    </h2>

    <form th:action="@{/details}" method="get">
        <input type="submit" value="коригувати данні пасажира"/>
    </form>
    <form th:action="@{/pay}" method="get">
        <input type="submit" value="оформити квиток"/>
    </form>
</div>

</body>
</html>